.infobar {
    background: rgba(255, 255, 255, 0.9);
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: center;
    padding: 0 10px;
    width: 100%;
}

.infobar-pane {
    flex: 1 0 auto;
}

.infobar-pane.center {
    text-align: center;
}

.infobar-pane.right {
    text-align: right;
}