.infobar {
  background: rgba(255, 255, 255, 0.9);
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
  margin-top: 40px;
  padding: 0 10px;
  position: relative;
  width: 100%;
}

.infobar-pane {
  flex: 1 0 auto;
}

.infobar-pane.center {
  text-align: center;
}

.infobar-pane.right {
  text-align: right;
}

.infobar-tab {
  background: rgba(255, 255, 255, 0.9);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  bottom: 100%;
  font-size: 12px;
  padding: 0 10px;
  position: absolute;
  text-transform: uppercase;
}